// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

div.main_container {
  width: 1000px;
  height: 800px;
  margin: 40px auto;
  padding: 30px 20px;
  background-color: rgba(255,140,0,0.6);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-product {
  width: 450px;
  border-radius: 5px;
}
div.card-product-infos ul{
  padding: 0;
}
.card-product-infos li {
  list-style-type: none;
}
.card-product-infos p {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
