<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <img class="logo-footer" src="../assets/images/Logo.png" alt="Shipp App" width="50" height="auto">
  <p class="footer-copyright">
    © Copyright 2021. All rights reserved.
  </p>
</div>
