<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.fraseryachts.com/uploads/image/yachts/berth-in-port-forum-barcelona/Berth_yacht_for_sale_Berth-in-port-forum-barcelona_103.jpg);">
  <div class="container-1">
    <h1>Discover amazing places!</h1>
    <%= link_to "2,957 Luxury Yachts for Ship App", boats_path, class: "btn-btn-flat" %>
  </div>
</div>

<form action="" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">Place of departure</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Ibiza, Croatia, Sardinia... " name="query">
      </div>
      <div class="search-element">
        <label class="search-label">Starting date</label>
        <input class="search-input" type="text" placeholder="DD/MM/YYY" class="" autocomplete="on" name="location">
      </div>
      <div class="search-element">
        <label class="search-label">Ending date</label>
        <input class="search-input" type="text" placeholder="DD/MM/YYY" class="" autocomplete="on" name="location">
      </div>
       <div class="search-element">
        <label class="search-label">Yacht type</label>
        <div class="div-style">
         <select name="boat-type" id="boat-types">
          <option value="Motor Yachts">Motor Yachts</option>
          <option value="Sailing Yachts">Sailing Yachts</option>
          <option value="Expedition Yachts">Expedition Yachts</option>
          <option value="Classic Yachts">Classic Yachts</option>
        </select>
        </div>
      </div>
      <a type="submit" class="search-button">Search</a>
</form>
