<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.fraseryachts.com/uploads/image/yachts/berth-in-port-forum-barcelona/Berth_yacht_for_sale_Berth-in-port-forum-barcelona_103.jpg);">
  <div class="container">
    <h1>Discover amazing places!</h1>
    <%= link_to "2,957 Luxury Yachts for Ship App", boats_path, class: "btn-btn-flat" %>
  </div>
</div>

<form action="" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">Location</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Where are you going" name="query">
      </div>
      <div class="search-element">
        <label class="search-label">Check in</label>
        <input class="search-input" type="text" placeholder="Add dates" class="" autocomplete="on" name="location">
      </div>
      <div class="search-element">
        <label class="search-label">Check out</label>
        <input class="search-input" type="text" placeholder="Add dates" class="" autocomplete="on" name="location">
      </div>
       <div class="search-element">
        <label class="search-label">Guests</label>
        <input class="search-input" type="text" placeholder="Add guests" class="" autocomplete="on" name="location">
      </div>
      <a type="submit" class="search-button">Search</a>
  </div>
</form>
