
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <i class="fas fa-anchor"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Become a Host</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Messages</a>
          <a class="dropdown-item" href="#">Notifications</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.fraseryachts.com/uploads/image/yachts/berth-in-port-forum-barcelona/Berth_yacht_for_sale_Berth-in-port-forum-barcelona_103.jpg);">
  <div class="container">
    <h1>Discover amazing places!</h1>
    <%= link_to "2,957 Luxury Yachts for Ship App", root_path, class: "btn-btn-flat" %>
  </div>
</div>

<form action="" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">Location</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Where are you going" name="query">
      </div>
      <div class="search-element">
        <label class="search-label">Check in</label>
        <input class="search-input" type="text" placeholder="Add dates" class="" autocomplete="on" name="location">
      </div>
      <div class="search-element">
        <label class="search-label">Check out</label>
        <input class="search-input" type="text" placeholder="Add dates" class="" autocomplete="on" name="location">
      </div>
       <div class="search-element">
        <label class="search-label">Guests</label>
        <input class="search-input" type="text" placeholder="Add guests" class="" autocomplete="on" name="location">
      </div>
      <a type="submit" class="search-button">Search</a>
  </div>
</form>
