.btn-btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: none;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-btn-flat:hover {
opacity: 0.65;
color: white;
text-decoration: none;
}
