.boat-card {
  margin: 10px 20%;
  padding: 5px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
  border-radius: 4px;
}

.banner-card {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d18mr9iuob0gar.cloudfront.net/media/boats/2016/10/rental-Motor-boat-Princess-72feet-Lisbon-PT_ndZ2wvC.jpg);
}

.card-trip-infos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main_container > a:hover {
  text-decoration: none;
}

.main_container > a:hover > .card-product {
  opacity: 0.9;
}
