.form-group {
  width: 350px;
}

.edit-page {
  background: #F6F5F7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: ‘Montserrat’, sans-serif;
	height: 80vh;
	margin: -10px 30px;
}
