
.footer {
  background: #C8C2BC;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 200px;
  padding: 25px 50px;
}
.footer-links {
  margin: auto;
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(255,165,0,1);

  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: black;
}
img.logo-footer {
  padding: 5px;
}
p.footer-copyright {
  margin: 2px 0;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
}
