.login {
  background: #F6F5F7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: ‘Montserrat’, sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
  border-radius: 10px;
  border: 2px;
}

.h2 {
  font-weight: bold;
	margin: 0;
}
